{{define "htmlBody"}}
    <table width="100%" cellspacing="0" cellpadding="0"
        style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;font-size: 14px;">
        {{if .Header.IsNotEmpty}}
           {{template "partial:header" .}}
        {{end}}
        <tr>
            <td width="180" style="border-right: 3px solid #2f5581;">
                <a href="https://sealur.ru/"
                    style="display: flex;justify-content: center;align-items: center;max-width: 150px;height: 107px;padding-right: 20px;">
                    <img alt="https://sealur.ru" style="object-fit: contain;width: 100%;height: auto;"
                        {{if .Base.IsLogoLink}}
                            src="{{.Base.Logo}}" />
                        {{else}}
                            src="data:image/png;base64,{{.Base.Logo}}" />
                        {{end}}
                </a>
            </td>
            <td style="padding-left: 30px;">
                <p style="margin-top: 0.3em;margin-bottom: 0.3em;">С уважением,</p>
                <p style="margin-top: 0.3em;margin-bottom: 0.3em;font-weight: 700;color:#042e60;">{{.Base.Name}}</p>
                <p style="margin-top: 0.3em;">{{.Base.Position}} ООО&nbsp;&laquo;Силур&raquo;</p>

                {{if .Base.HasPhone}}
                <p style="margin-top: 0.3em;margin-bottom: 0.3em;">
                    <span style="color:#042e60;font-weight: 700;">Тел.:</span>&nbsp;{{.Base.Phone}}
                </p>
                {{end}}
                {{if .Base.HasMobile}}
                <p style="margin-top: 0.3em;margin-bottom: 0.3em;">
                    <span style="color:#042e60;font-weight: 700;">Моб.тел.:</span>&nbsp;{{.Base.Mobile}}
                    {{if .Base.HasTelegram}}
                    <img alt="Telegram" style="vertical-align: bottom;margin-left: 6px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAilBMVEUAAAAoqewin9slpeQlpeQioN0jod4oqeojod0oqesjod0nqOkpquwpquwin9soqesjoNwnp+gjot8pquwioNwko+H///8oqOolpeQmpuY4rOX0+/664vbw+f3c8fvJ6fh7yO5evOvt+P3m9fyn2/Wj2fSX1PKLz/GDzPBvxO5Ot+s8sOszqeRAruPb77mHAAAAEXRSTlMAm/v52ZuXMDAKCpf52dnBwWDeOUIAAACZSURBVBjTTctZEoMgEATQAQFx1ygTgnv29f7XC6Cx8j7o6a4CnJBkaZolISwiUq9I5HtRbwq3kP0fYv9XP/XLPiEka32e285GAuxgVY8RB7zYi0GgtbmdcJiOeNdaB27oEK9zjzj7gSml3sa0iGjsyUAob2qxdylA7hafsXMhAbjLZp05AMRlsyljcAunS6Xcdk+KnNJcSLC+2bIQgxB4oKgAAAAASUVORK5CYII=" />
                    {{end}}
                    {{if .Base.HasWhatsApp}}
                    <img alt="WhatsApp" style="vertical-align: bottom;margin-left: 6px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAflBMVEUAAAAl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02Yl02aoIQp/AAAAKnRSTlMA/vnu9HfXtJyBRisLB9OHGOXDqZJxYjTh3LqllYtqaFxZVCDLn3pALhTai10eAAAAo0lEQVQY0zXOR27DQBQE0fqTA4eZVLSC5Xj/CwrUQG9dQDebfHZKHcKOqsziutstthIaNt6svHzqsQCdeadkHeChLiRfW+7yRxxgL1cqNzMGMHKm+mjZW/iWTLVqDhb6YWygAFfN8QTsdJs6/QPzF1Y3QG5FxMDQ0Zulvpr8L4t6UNTKW1IRkuR0aQCKVdO2LEqUnmI8aWMBfLj3/4t37mh7gCcSwQfvhtdX9AAAAABJRU5ErkJggg==" />
                    {{end}}
                </p>
                {{end}}
                
                <p style="margin-top: 0.3em;margin-bottom: 0.3em;">
                    <span style="color:#042e60;font-weight: 700;">E&#8209;Mail:</span>&nbsp;<a href="mailto:{{.Base.Email}}"
                        style="text-decoration: none;color: #000;">{{.Base.Email}}</a>
                </p>
                <p style="margin-top: 0.3em;margin-bottom: 0.3em;">
                    <span style="color:#042e60;font-weight: 700;">Сайт:</span>&nbsp;<a href="https://sealur.ru/"
                        style="text-decoration: none;color: #000;">www.sealur.ru</a>
                </p>
            </td>
        </tr>

       
        {{if .Footer.HasEDI}}
            {{template "partial:edi" .}}
        {{end}}
        {{if .Footer.HasLinks}}
            {{template "partial:list_links" .}}
        {{end}}
    </table>
{{end}}