{{define "partial:edi"}}
<td colspan="2" style="padding-top: 20px;">
    <p style="margin-top: 0.4em;margin-bottom: 0.4em;font-style: italic;font-weight: 700;">
        В качестве оператора ЭДО мы используем систему "Диадок" (от СКБ "Контур").
    </p>
    <p style="margin-top: 0.4em;margin-bottom: 0.4em;font-style: italic;font-weight: 700;">
        Если вы пользуетесь ЭДО, вы можете выслать нам приглашение.
    </p>
</td>
{{end}}